@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
  overscroll-behavior: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

.container {
  @apply relative w-full max-w-[1264] mx-auto px-6;
}

/* Typography */

h1,
.h1,
.h1 span {
  @apply text-[56px] leading-[110%] font-medium;
}
@screen md {
  h1,
  .h1,
  .h1 span {
    @apply text-[64px]
  }
}
@screen xl {
  h1,
  .h1,
  .h1 span {
    @apply text-[72px]
  }
}
/* @screen 2xl {
  h1,
  .h1,
  .h1 span {
    @apply text-[80px]
  }
} */

h2,
h2 span,
.h2 {
  @apply text-[36px] leading-[110%] font-bold;
}
@screen md {
  h2,
  h2 span,
  .h2 {
    @apply text-[42px]
  }
}
@screen xl {
  h2,
  h2 span,
  .h2 {
    @apply text-[48px]
  }
}
/* @screen 2xl {
  h2,
  h2 span,
  .h2 {
    @apply text-[56px]
  }
} */

h3,
.h3 {
  @apply text-[30px] leading-[110%] font-bold;
}
@screen xl {
  h3,
  .h3 {
    @apply text-[32px]
  }
}
/* @screen 2xl {
  h3,
  .h3 {
    @apply text-[40px]
  }
} */

h4,
.h4 {
  @apply text-[24px] leading-tight font-semibold;
}
@screen xl {
  h4,
  .h4 {
    @apply text-[26px]
  }
}
/* @screen 2xl {
  h4,
  .h4 {
    @apply text-[30px]
  }
} */

h5,
.h5 {
  @apply text-[21px] leading-tight font-normal;
}
@screen xl {
  h5,
  .h5 {
    @apply text-[22px]
  }
}
/* @screen 2xl {
  h5,
  .h5 {
    @apply text-[24px]
  }
} */

h6,
.h6 {
  @apply text-[19px] leading-tight font-semibold;
}
@screen xl {
  h6,
  .h6 {
    @apply text-[20px]
  }
}
/* @screen 2xl {
  h6,
  .h6 {
    @apply text-[22px]
  }
} */

p,
.body-default {
  @apply text-[15px] !leading-snug font-normal;
}
@screen xl {
  p,
.body-default {
    @apply text-base;
  }
}

.link {
 @apply text-lg text-darkBlue;
}
